USE [RIL.AOP]
GO
/****** Object:  StoredProcedure [dbo].[test_usp_CalculatePlantRequirement]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[test_usp_CalculatePlantRequirement]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProcessDemandByCPP]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[sp_GetProcessDemandByCPP]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlantProductionByCPP]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[sp_GetPlantProductionByCPP]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCPPUtilityNormPivoted]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[sp_GetCPPUtilityNormPivoted]
GO
/****** Object:  StoredProcedure [dbo].[GetFurnaceData_OutPut]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[GetFurnaceData_OutPut]
GO
/****** Object:  StoredProcedure [dbo].[GetFurnaceData]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[GetFurnaceData]
GO
/****** Object:  StoredProcedure [dbo].[Get_TCS_PCGOutlook]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[Get_TCS_PCGOutlook]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetProcessDemandByYear]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_GetProcessDemandByYear]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetPowerGenerationOperationalHours]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_GetPowerGenerationOperationalHours]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetPlantConsumptionByMaterial]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_GetPlantConsumptionByMaterial]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetNormBasedUtilityBudget]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_GetNormBasedUtilityBudget]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetFixedConsumptionByPlant]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_GetFixedConsumptionByPlant]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetAssetPriority]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_GetAssetPriority]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetAssetCapacity]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_GetAssetCapacity]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_Get_UtilityPlantAssets]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_Get_UtilityPlantAssets]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_Get_UtilityPlant_OperationalHours]    Script Date: 1/18/2026 10:42:16 AM ******/
DROP PROCEDURE [dbo].[CPP_NMD_Get_UtilityPlant_OperationalHours]
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_Get_UtilityPlant_OperationalHours]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CPP_NMD_Get_UtilityPlant_OperationalHours]
(
    @cppPlantId UNIQUEIDENTIFIER,
    @financialYear VARCHAR(7)   -- e.g. '2025-26'
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT = CAST(LEFT(@financialYear, 4) AS INT);
    DECLARE @EndYear   INT = @StartYear + 1;

    /*-------------------------------------------------------
      Get FinancialYearMonth IDs for Apr–Mar
    -------------------------------------------------------*/
    WITH FYMonths AS (
        SELECT 
            fym.Id,
            fym.Month,
            fym.Year
        FROM FinancialYearMonth fym
        WHERE (fym.Year = @StartYear AND fym.Month BETWEEN 4 AND 12)
           OR (fym.Year = @EndYear   AND fym.Month BETWEEN 1 AND 3)
    )

    /*-------------------------------------------------------
      Final Result
    -------------------------------------------------------*/
    SELECT
    	Max(pga.AssetId) as AssetId,
		Max(pga_ccp.AssetName) as AssetName,
		Max(u.Type) as AssetType,
        u.PlantAsset as UtilityPlantAsset, 
        u.Id AS UtilityPlantAssetId,
        nd.Name AS UtilityDistributed,
		nd.SAPMaterialCode AS UtilityDistributedSAPCode,
        ug.Name AS UtilityGenerated,
		ug.SAPMaterialCode AS UtilityGeneratedSAPCode,
        u.Type,

        MAX(CASE WHEN fm.Month = 4  THEN oh.OperationalHours END) AS Apr,
        MAX(CASE WHEN fm.Month = 5  THEN oh.OperationalHours END) AS May,
        MAX(CASE WHEN fm.Month = 6  THEN oh.OperationalHours END) AS Jun,
        MAX(CASE WHEN fm.Month = 7  THEN oh.OperationalHours END) AS Jul,
        MAX(CASE WHEN fm.Month = 8  THEN oh.OperationalHours END) AS Aug,
        MAX(CASE WHEN fm.Month = 9  THEN oh.OperationalHours END) AS Sep,
        MAX(CASE WHEN fm.Month = 10 THEN oh.OperationalHours END) AS Oct,
        MAX(CASE WHEN fm.Month = 11 THEN oh.OperationalHours END) AS Nov,
        MAX(CASE WHEN fm.Month = 12 THEN oh.OperationalHours END) AS Dec,
        MAX(CASE WHEN fm.Month = 1  THEN oh.OperationalHours END) AS Jan,
        MAX(CASE WHEN fm.Month = 2  THEN oh.OperationalHours END) AS Feb,
        MAX(CASE WHEN fm.Month = 3  THEN oh.OperationalHours END) AS Mar

    FROM UtilityPlantAssets u
        INNER JOIN PowerGenerationAssets pga_ccp
            ON pga_ccp.AssetId = u.PowerGenerationAsset_FK_Id
           AND pga_ccp.CPPPLANT_FK_Id = @cppPlantId

        LEFT JOIN NormParameters nd
            ON nd.Id = u.UtilityDistributed

        LEFT JOIN NormParameters ug
            ON ug.Id = u.UtilityGenerated

        JOIN PowerGenerationAssets pga    -- nodified to simple join
            ON pga.AssetId = u.Linked_OpHrs_Asset

        LEFT JOIN OperationalHours oh
            ON oh.Asset_FK_Id = u.Linked_OpHrs_Asset

        LEFT JOIN FYMonths fm
            ON fm.Id = oh.FinancialMonthId

    WHERE u.FinancialYear = @financialYear

    GROUP BY
        u.PlantAsset,
        u.Id,
        nd.Name,
        ug.Name,
		ug.SAPMaterialCode,
		nd.SAPMaterialCode,
        pga.AssetName,
        u.Type

    ORDER BY u.PlantAsset;

END;
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_Get_UtilityPlantAssets]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CPP_NMD_Get_UtilityPlantAssets]
(
    @CppId UNIQUEIDENTIFIER,
    @FinancialYear VARCHAR(10)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PGA.AssetName,
        UPA.Id as UtilityPlantAssetId,
        UPA.PlantAsset as UtilityPlantAsset,
        NG.Name AS UtilityGenerated,
		NG.SAPMaterialCode as UtilityGeneratedSAPCode,
        ND.Name AS UtilityDistributed,
		ND.SAPMaterialCode as UtilityDistributedSAPCode,
        UPA.Apr,
        UPA.May,
        UPA.Jun,
        UPA.Jul,
        UPA.Aug,
        UPA.Sep,
        UPA.Oct,
        UPA.Nov,
        UPA.Dec,
        UPA.Jan,
        UPA.Feb,
        UPA.Mar,
        UPA.Remarks,
        UPA.Type

    FROM PowerGenerationAssets PGA
    INNER JOIN UtilityPlantAssets UPA
        ON UPA.PowerGenerationAsset_FK_Id = PGA.AssetId

    LEFT JOIN NormParameters NG
        ON NG.Id = UPA.UtilityGenerated

    LEFT JOIN NormParameters ND
        ON ND.Id = UPA.UtilityDistributed

    WHERE PGA.CPPPLANT_FK_Id = @CppId
      AND UPA.FinancialYear = @FinancialYear

	  order by UPA.PlantAsset;
END
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetAssetCapacity]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     PROCEDURE [dbo].[CPP_NMD_GetAssetCapacity]
(
    @CppId UNIQUEIDENTIFIER,
    @FinancialYear VARCHAR(7)   -- e.g. '2025-26'
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT = CAST(LEFT(@FinancialYear, 4) AS INT);
    DECLARE @EndYear   INT = CAST('20' + RIGHT(@FinancialYear, 2) AS INT);

    ;WITH FYM AS (
        SELECT
            fym.Id,
            fym.Month,
            fym.Year
        FROM FinancialYearMonth fym
        WHERE
            (fym.Year = @StartYear AND fym.Month BETWEEN 4 AND 12)
         OR (fym.Year = @EndYear   AND fym.Month BETWEEN 1 AND 3)
    )
    SELECT
        -- GenerationPlant
        pga.AssetName,
		pga.AssetId,
        pga.PlantCode,
		

        -- UtilityDistributed (NormType_FK_Id = 2)
        MAX(CASE WHEN np.NormType_FK_Id = 2 THEN np.DisplayName END)     AS UtilityDistributedName,
        MAX(CASE WHEN np.NormType_FK_Id = 2 THEN np.SAPMaterialCode END) AS UtilityDistributedSAP,

        -- UtilityGenerated (NormType_FK_Id = 1)
        MAX(CASE WHEN np.NormType_FK_Id = 1 THEN np.DisplayName END)     AS UtilityGeneratedName,
        MAX(CASE WHEN np.NormType_FK_Id = 1 THEN np.SAPMaterialCode END) AS UtilityGeneratedSAP,

        -- UOM (assuming same per asset)
        MAX(np.UOM) AS UOM,

        -- Fixed Min / Max (same across months)
        MAX(aa.FixedMin) AS FixedMin,
        MAX(aa.FixedMax) AS FixedMax,
		MAX(aa.Remarks) as Remarks,

     -- April
MAX(CASE WHEN fym.Month = 4 THEN aa.MinOperatingCapacity END) AS AprMinCapacity,
MAX(CASE WHEN fym.Month = 4 THEN aa.MaxOperatingCapacity END) AS AprMaxCapacity,

-- May
MAX(CASE WHEN fym.Month = 5 THEN aa.MinOperatingCapacity END) AS MayMinCapacity,
MAX(CASE WHEN fym.Month = 5 THEN aa.MaxOperatingCapacity END) AS MayMaxCapacity,

-- June
MAX(CASE WHEN fym.Month = 6 THEN aa.MinOperatingCapacity END) AS JunMinCapacity,
MAX(CASE WHEN fym.Month = 6 THEN aa.MaxOperatingCapacity END) AS JunMaxCapacity,

-- July
MAX(CASE WHEN fym.Month = 7 THEN aa.MinOperatingCapacity END) AS JulMinCapacity,
MAX(CASE WHEN fym.Month = 7 THEN aa.MaxOperatingCapacity END) AS JulMaxCapacity,

-- August
MAX(CASE WHEN fym.Month = 8 THEN aa.MinOperatingCapacity END) AS AugMinCapacity,
MAX(CASE WHEN fym.Month = 8 THEN aa.MaxOperatingCapacity END) AS AugMaxCapacity,

-- September
MAX(CASE WHEN fym.Month = 9 THEN aa.MinOperatingCapacity END) AS SepMinCapacity,
MAX(CASE WHEN fym.Month = 9 THEN aa.MaxOperatingCapacity END) AS SepMaxCapacity,

-- October
MAX(CASE WHEN fym.Month = 10 THEN aa.MinOperatingCapacity END) AS OctMinCapacity,
MAX(CASE WHEN fym.Month = 10 THEN aa.MaxOperatingCapacity END) AS OctMaxCapacity,

-- November
MAX(CASE WHEN fym.Month = 11 THEN aa.MinOperatingCapacity END) AS NovMinCapacity,
MAX(CASE WHEN fym.Month = 11 THEN aa.MaxOperatingCapacity END) AS NovMaxCapacity,

-- December
MAX(CASE WHEN fym.Month = 12 THEN aa.MinOperatingCapacity END) AS DecMinCapacity,
MAX(CASE WHEN fym.Month = 12 THEN aa.MaxOperatingCapacity END) AS DecMaxCapacity,

-- January
MAX(CASE WHEN fym.Month = 1 THEN aa.MinOperatingCapacity END) AS JanMinCapacity,
MAX(CASE WHEN fym.Month = 1 THEN aa.MaxOperatingCapacity END) AS JanMaxCapacity,

-- February
MAX(CASE WHEN fym.Month = 2 THEN aa.MinOperatingCapacity END) AS FebMinCapacity,
MAX(CASE WHEN fym.Month = 2 THEN aa.MaxOperatingCapacity END) AS FebMaxCapacity,

-- March
MAX(CASE WHEN fym.Month = 3 THEN aa.MinOperatingCapacity END) AS MarMinCapacity,
MAX(CASE WHEN fym.Month = 3 THEN aa.MaxOperatingCapacity END) AS MarMaxCapacity


    FROM PowerGenerationAssets pga
	  JOIN AssetAvailability aa
           ON aa.AssetId = pga.AssetId

		   LEFT JOIN CPP_AssetNorms_Mapping anm
		    ON anm.AssetId = pga.AssetId
    LEFT JOIN NormParameters np
           ON np.Id = anm.NormParameters_ID
   
    LEFT JOIN FYM fym
           ON fym.Id = aa.FinancialYearMonthId

    WHERE pga.CPPPLANT_FK_Id = @CppId

    GROUP BY
        pga.AssetId,
        pga.AssetName,
        pga.PlantCode

    ORDER BY pga.AssetName;
END;
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetAssetPriority]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [dbo].[CPP_NMD_GetAssetPriority]
(
    @CppId UNIQUEIDENTIFIER,
    @FinancialYear VARCHAR(9)   -- e.g. '2025-26'
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT;
    DECLARE @EndYear INT;

    -- Extract years from '2025-26'
    SET @StartYear = CAST(LEFT(@FinancialYear, 4) AS INT);
    SET @EndYear   = CAST('20' + RIGHT(@FinancialYear, 2) AS INT);

    SELECT
        pga.AssetId,
        pga.AssetName,
		Max(pga.Remarks) as Remarks,
		Max(pga.AssetType) as AssetType,
		Max(Priority_Remarks) as Remarks,

        MAX(CASE WHEN fym.Month = 4  AND fym.Year = @StartYear THEN aa.Priority END) AS April,
        MAX(CASE WHEN fym.Month = 5  AND fym.Year = @StartYear THEN aa.Priority END) AS May,
        MAX(CASE WHEN fym.Month = 6  AND fym.Year = @StartYear THEN aa.Priority END) AS June,
        MAX(CASE WHEN fym.Month = 7  AND fym.Year = @StartYear THEN aa.Priority END) AS July,
        MAX(CASE WHEN fym.Month = 8  AND fym.Year = @StartYear THEN aa.Priority END) AS August,
        MAX(CASE WHEN fym.Month = 9  AND fym.Year = @StartYear THEN aa.Priority END) AS September,
        MAX(CASE WHEN fym.Month = 10 AND fym.Year = @StartYear THEN aa.Priority END) AS October,
        MAX(CASE WHEN fym.Month = 11 AND fym.Year = @StartYear THEN aa.Priority END) AS November,
        MAX(CASE WHEN fym.Month = 12 AND fym.Year = @StartYear THEN aa.Priority END) AS December,

        MAX(CASE WHEN fym.Month = 1  AND fym.Year = @EndYear THEN aa.Priority END) AS January,
        MAX(CASE WHEN fym.Month = 2  AND fym.Year = @EndYear THEN aa.Priority END) AS February,
        MAX(CASE WHEN fym.Month = 3  AND fym.Year = @EndYear THEN aa.Priority END) AS March

    FROM PowerGenerationAssets pga
     JOIN AssetAvailability aa
        ON aa.AssetId = pga.AssetId
    LEFT JOIN FinancialYearMonth fym
        ON fym.Id = aa.FinancialYearMonthId
       AND (
                (fym.Year = @StartYear AND fym.Month BETWEEN 4 AND 12)
             OR (fym.Year = @EndYear   AND fym.Month BETWEEN 1 AND 3)
           )

    WHERE pga.CPPPLANT_FK_Id = @CppId

    GROUP BY
        pga.AssetId,
        pga.AssetName

    ORDER BY
        pga.AssetName;
END;
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetFixedConsumptionByPlant]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create   PROCEDURE [dbo].[CPP_NMD_GetFixedConsumptionByPlant]
(
    @PlantId       UNIQUEIDENTIFIER,
    @FinancialYear NVARCHAR(20)  -- e.g. '2025-26'
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT,
            @EndYear   INT,
            @cols      NVARCHAR(MAX),
            @sql       NVARCHAR(MAX);

    -- '2025-26' -> @StartYear = 2025, @EndYear = 2026
    SET @StartYear = CAST(LEFT(@FinancialYear, 4) AS INT);
    SET @EndYear   = CAST(LEFT(@FinancialYear, 2) + RIGHT(@FinancialYear, 2) AS INT);

    -- Fixed month columns: Apr–Mar
    SET @cols = '[Apr],[May],[Jun],[Jul],[Aug],[Sep],[Oct],[Nov],[Dec],[Jan],[Feb],[Mar]';

    SET @sql = N'
    ;WITH Meta AS
    (
        -- All plant / CC / utility combinations for this plant
        SELECT DISTINCT
            pm.PlantName,
            pm.PlantCode,
            cc.CostCenterName,
            cc.CostCenterCode,
            cc.CostCenterId,
            np.Name AS UtilityName,
            np.SAPMaterialCode AS UtilitySAP,
            up.Name      AS UtilityPlantName,
            up.PlantCode AS UtilityPlantCode,
            np.UOM,
            np.Id AS NormParameterId
        FROM [RIL.AOP].dbo.FixedConsumptionPlantMapping pm
        JOIN [RIL.AOP].dbo.CPPCostCenters cc
             ON cc.Plant_FK_Id = pm.Id
        JOIN [RIL.AOP].dbo.CostCenterNormParameterMapping map
             ON map.CostCenterFK_Id = cc.CostCenterId
        JOIN [RIL.AOP].[dbo].[NormParameters] np
             ON np.Id = map.NormParameterFK_Id
        LEFT JOIN [RIL.AOP].dbo.Plants up
             ON up.Id = np.Plant_FK_Id
        WHERE pm.Plant_FK_Id = @PlantId
    ),
    BaseData AS
    (
        -- Left join FY consumption for the requested FY
        SELECT
            m.PlantName,
            m.PlantCode,
            m.CostCenterName,
            m.CostCenterCode,
            m.CostCenterId,
            m.UtilityName,
            m.UtilitySAP,
            m.UtilityPlantName,
            m.UtilityPlantCode,
            m.UOM,
            m.NormParameterId,
			rm.Remarks,
			rm.Id as RemarkId,
			ufc.NormParameter_FK_Id,
			ufc.CostCenter_FK_Id,
            CASE 
                WHEN fy.Month = 4  THEN ''Apr''
                WHEN fy.Month = 5  THEN ''May''
                WHEN fy.Month = 6  THEN ''Jun''
                WHEN fy.Month = 7  THEN ''Jul''
                WHEN fy.Month = 8  THEN ''Aug''
                WHEN fy.Month = 9  THEN ''Sep''
                WHEN fy.Month = 10 THEN ''Oct''
                WHEN fy.Month = 11 THEN ''Nov''
                WHEN fy.Month = 12 THEN ''Dec''
                WHEN fy.Month = 1  THEN ''Jan''
                WHEN fy.Month = 2  THEN ''Feb''
                WHEN fy.Month = 3  THEN ''Mar''
            END AS MonthName,
            ufc.ConsumptionValue
        FROM Meta m
        LEFT JOIN [RIL.AOP].dbo.UtilityFixedConsumption ufc
             ON ufc.CostCenter_FK_Id    = m.CostCenterId
            AND ufc.NormParameter_FK_Id = m.NormParameterId
        LEFT JOIN [RIL.AOP].dbo.FinancialYearMonth fy
             ON fy.Id = ufc.FinancialYearMonth_FK_Id
            AND (
                    (fy.Year = @StartYear AND fy.Month BETWEEN 4 AND 12)
                 OR (fy.Year = @EndYear   AND fy.Month BETWEEN 1 AND 3)
                )

		Left Join UtilityFixedConsumption_Remarks rm
		on rm.NormParameter_FK_Id = ufc.NormParameter_FK_Id
		AND rm.CostCenter_FK_Id = ufc.CostCenter_FK_Id
    )
    SELECT
        PlantName,
        PlantCode,
        CostCenterName,
        CostCenterCode,
        UtilityName,
        UtilitySAP,
        UtilityPlantName,
        UtilityPlantCode,
        UOM,
		NormParameterId,
		Remarks,
		RemarkId,
		NormParameter_FK_Id,
		CostCenter_FK_Id,
        ' + @cols + N'
    FROM BaseData
    PIVOT
    (
        MAX(ConsumptionValue)
        FOR MonthName IN (' + @cols + N')
    ) AS pvt
    ORDER BY 
        PlantName,
        CostCenterName,
        UtilityName;';

    EXEC sp_executesql
        @sql,
        N'@PlantId UNIQUEIDENTIFIER, @StartYear INT, @EndYear INT',
        @PlantId = @PlantId,
        @StartYear = @StartYear,
        @EndYear = @EndYear;
END;
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetNormBasedUtilityBudget]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CPP_NMD_GetNormBasedUtilityBudget]
(
    @CPPPlantId UNIQUEIDENTIFIER,
    @FinancialYear NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------------
    -- FINANCIAL YEAR PARSING
    -------------------------------------------------------------------------
    DECLARE @CleanYear NVARCHAR(20) = ISNULL(@FinancialYear, '');
    SET @CleanYear = REPLACE(@CleanYear, ' ', '');
    SET @CleanYear = REPLACE(@CleanYear, '/', '-');

    IF @CleanYear = '' SET @CleanYear = '1900-01';

    IF @CleanYear NOT LIKE '%-%'
    BEGIN
        SET @CleanYear = CONCAT(
            @CleanYear, '-', 
            RIGHT(CONCAT('0', CAST(CAST(RIGHT(@CleanYear,2) AS INT) + 1 AS VARCHAR(4))),2)
        );
    END;

    DECLARE @Part1 NVARCHAR(4), @Part2 NVARCHAR(4);

    SET @Part1 = LEFT(@CleanYear, CHARINDEX('-', @CleanYear) - 1);
    SET @Part2 = RIGHT(@CleanYear, LEN(@CleanYear) - CHARINDEX('-', @CleanYear));

    IF LEN(@Part1) = 2 SET @Part1 = CONCAT('20', @Part1);
    IF LEN(@Part2) = 2 SET @Part2 = CONCAT('20', @Part2);

    DECLARE @StartYear INT = TRY_CAST(@Part1 AS INT);
    DECLARE @EndYear   INT = TRY_CAST(@Part2 AS INT);

    IF @StartYear IS NULL SET @StartYear = 1900;
    IF @EndYear   IS NULL SET @EndYear   = @StartYear + 1;

    -------------------------------------------------------------------------
    -- FETCH GENERATING PLANTS
    -------------------------------------------------------------------------
    ;WITH GeneratingPlants AS
    (
        SELECT AssociatedPlant_FK_Id AS GeneratingPlantId
        FROM PowerGenerationPlantsMapping
        WHERE CPPPlantId = @CPPPlantId
    ),

    NormData AS
    (
        SELECT 
            nh.Id AS NormHeaderId,
            nh.Plant_FK_Id AS GeneratingPlantId,
            nh.UtilityName,
            nh.UtilityId,
            nh.UtilityUOM,
            nh.AccountName,
            nh.MaterialName,
			nh.MaterialId,            -- modified
            nh.IssuingPlantName,
            nh.IssuingPlant_FK_Id,
            nh.IssuingUOM,
            nh.NormParameter_FK_Id,
            nh.DisplayOrder
			
        FROM NormsHeader nh
        INNER JOIN GeneratingPlants gp
            ON gp.GeneratingPlantId = nh.Plant_FK_Id
        WHERE nh.IsActive = 1
    ),

    JoinedNorms AS
    (
        SELECT 
            nd.*,
            np.DisplayName AS NormParameterName,
            np.UOM AS ParameterUOM,
            np.SAPMaterialCode,
            np.DisplayOrder AS NormParameterDisplayOrder
        FROM NormData nd
        LEFT JOIN NormParameters np
            ON nd.NormParameter_FK_Id = np.Id
    ),

    FinalData AS
    (
        SELECT 
            jn.*,
            p.Name AS GeneratingPlantName,
            p.DisplayName AS GeneratingPlantDisplayName,
            p.PlantCode AS GeneratingPlantCode
        FROM JoinedNorms jn
        LEFT JOIN Plants p
            ON jn.GeneratingPlantId = p.Id
    ),

    -------------------------------------------------------------------------
    -- MONTH DETAILS FILTERED BY FINANCIAL YEAR (APR–MAR)
    -------------------------------------------------------------------------
    MonthDetails AS
    (
        SELECT 
            nmd.NormsHeader_FK_Id,
            fym.Month,
            fym.Year,
            fym.Id AS FinancialYearMonthId,
            nmd.Norms,
            nmd.Quantity,
            nmd.Amount,
            nmd.Price,
            nmd.GenerationUOM,
            nmd.QTY,
            nmd.ScenarioType,
            nmd.DisplayOrder,
			nmd.Remarks
        FROM NormsMonthDetail nmd
        INNER JOIN FinancialYearMonth fym
            ON fym.Id = nmd.FinancialYearMonth_FK_Id
        WHERE 
            (
                fym.Year = @StartYear AND fym.Month >= 4  -- Apr–Dec of start year
            )
            OR
            (
                fym.Year = @EndYear   AND fym.Month <= 3  -- Jan–Mar of end year
            )
    ),

    -------------------------------------------------------------------------
    -- EXTRACT GENERATION UOM (COMMON FOR ALL MONTHS - TAKE FROM FIRST AVAILABLE)
    -------------------------------------------------------------------------
    GenerationUOMData AS
    (
        SELECT 
            fd.NormHeaderId,
            (SELECT TOP 1 md.GenerationUOM 
             FROM MonthDetails md 
             WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.GenerationUOM IS NOT NULL) AS CommonGenerationUOM
        FROM FinalData fd
    )

    SELECT
        ROW_NUMBER() OVER (ORDER BY fd.GeneratingPlantName, fd.DisplayOrder, fd.NormParameterDisplayOrder) AS id,

        fd.NormHeaderId AS normsHeaderFkId,
        fd.GeneratingPlantName AS generatingPlantName,
        fd.UtilityName        AS utilityName,
        fd.UtilityId          AS utilityId,
        COALESCE(fd.ParameterUOM, fd.UtilityUOM) AS uom,
        fd.AccountName        AS accountName,
        fd.MaterialName       AS materialName,
		fd.MaterialId         AS materialId,      -- modified
        fd.IssuingPlantName   AS issuingPlantName,
        fd.IssuingUOM         AS issuingUom,
        COALESCE(guom.CommonGenerationUOM, '') AS generationUom,  -- Common generation UOM (new field)

        -- APR
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 4
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS apr,

        -- MAY
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 5
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS may,

        -- JUN
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 6
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS jun,

        -- JUL
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 7
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS jul,

        -- AUG
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 8
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS aug,

        -- SEP
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 9
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS sep,

        -- OCT
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 10
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS oct,

        -- NOV
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 11
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS nov,

        -- DEC
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 12
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS [dec],

        -- JAN
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 1
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS jan,

        -- FEB
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 2
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS feb,

        -- MAR
        ISNULL((SELECT 
                md.Norms AS norms,
                md.Quantity AS quantity,
                md.Amount AS amount,
                md.Price AS price,
                md.FinancialYearMonthId AS financialYearMonthFkId,
                md.QTY AS QTY,
                md.ScenarioType AS scenarioType,
                md.DisplayOrder AS displayOrder,
				md.Remarks as remarks       -- modified
                FROM MonthDetails md 
                WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 3
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES),
               '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthFkId":null,"QTY":null,"scenarioType":null,"displayOrder":null,"remarks":null}') AS mar

    FROM FinalData fd
    LEFT JOIN GenerationUOMData guom
        ON fd.NormHeaderId = guom.NormHeaderId
    ORDER BY fd.GeneratingPlantName, fd.DisplayOrder, fd.NormParameterDisplayOrder;

END;
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetPlantConsumptionByMaterial]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[CPP_NMD_GetPlantConsumptionByMaterial]
    @CPPPlantId UNIQUEIDENTIFIER,
    @AOPYear NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ResolvedYear NVARCHAR(10);

    -- Resolve financial year
    SET @ResolvedYear = ISNULL(
        @AOPYear,
        CAST(
            CASE WHEN MONTH(GETDATE()) >= 4 THEN YEAR(GETDATE())
                 ELSE YEAR(GETDATE()) - 1 END AS NVARCHAR(4)
        ) + '-' +
        RIGHT(
            CAST(
                CASE WHEN MONTH(GETDATE()) >= 4 THEN YEAR(GETDATE()) + 1
                     ELSE YEAR(GETDATE()) END AS NVARCHAR(4)
            ), 2
        )
    );

    -- Mapped Plant IDs
    DECLARE @MappedPlantIds TABLE (Plant_FK_Id UNIQUEIDENTIFIER);

    INSERT INTO @MappedPlantIds (Plant_FK_Id)
    SELECT DISTINCT Plant_FK_Id
    FROM [RIL.AOP].[dbo].[PowerConsumptionPlantMapping]
    WHERE Consumption_FK_Id = @CPPPlantId;

    -- Norm Parameters for the Plant
    DECLARE @NormParams TABLE 
    (
        Id UNIQUEIDENTIFIER, 
        DisplayName NVARCHAR(200),
        SAPMaterialCode NVARCHAR(100),
        UOM NVARCHAR(50),
		Plant_FK_Id  NVARCHAR(50),
		Remarks varchar(8000)
	
    );

    INSERT INTO @NormParams (Id, DisplayName, SAPMaterialCode, UOM, Plant_FK_Id, Remarks)
    SELECT Id, DisplayName, SAPMaterialCode, UOM, Plant_FK_Id, Remarks
    FROM [RIL.AOP].[dbo].[NormParameters]
-- WHERE Plant_FK_Id = @CPPPlantId;
     where SAPMaterialCode in (select SAPMaterialCode from NormParameters where Plant_FK_Id = @CPPPlantId)
	and Plant_FK_Id in (select Plant_FK_Id from @MappedPlantIds)



    -- Final Select with LEFT JOIN
    SELECT 
	    MAX(p.DisplayName) As PlantName,
		MAX(p.PlantCode) As PlantCode,
		

        np.DisplayName AS CPPUtilities,
        np.SAPMaterialCode AS CPPUtiltiyIds ,
        np.UOM AS UOM,
		Max(np.Remarks) as Remarks,
		

        ISNULL(SUM(acn.April  * 100), 0) AS April,
        ISNULL(SUM(acn.May    * 100), 0) AS May,
        ISNULL(SUM(acn.June   * 100), 0) AS June,
        ISNULL(SUM(acn.July   * 100), 0) AS July,
        ISNULL(SUM(acn.Aug    * 100), 0) AS Aug,
        ISNULL(SUM(acn.Sep    * 100), 0) AS Sep,
        ISNULL(SUM(acn.Oct    * 100), 0) AS Oct,
        ISNULL(SUM(acn.Nov    * 100), 0) AS Nov,
        ISNULL(SUM(acn.Dec    * 100), 0) AS Dec,
        ISNULL(SUM(acn.Jan    * 100), 0) AS Jan,
        ISNULL(SUM(acn.Feb    * 100), 0) AS Feb,
        ISNULL(SUM(acn.March  * 100), 0) AS March,

        -- GRAND TOTAL for the entire financial year
        ISNULL(
            SUM(
                    acn.April  * 100 +
                    acn.May    * 100 +
                    acn.June   * 100 +
                    acn.July   * 100 +
                    acn.Aug    * 100 +
                    acn.Sep    * 100 +
                    acn.Oct    * 100 +
                    acn.Nov    * 100 +
                    acn.Dec    * 100 +
                    acn.Jan    * 100 +
                    acn.Feb    * 100 +
                    acn.March  * 100
                ), 
        0) AS GrandTotal

    FROM @NormParams np
    LEFT JOIN [RIL.AOP].[dbo].[AOPConsumptionNorm] acn
        ON acn.Material_FK_Id = np.Id
        AND acn.Plant_FK_Id IN (SELECT Plant_FK_Id FROM @MappedPlantIds)
        AND acn.AOPYear = @ResolvedYear
		left join Plants p on p.Id = np.Plant_FK_Id

    GROUP BY 
        np.DisplayName,
        np.SAPMaterialCode,
        np.UOM

    ORDER BY np.DisplayName;

END;

GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetPowerGenerationOperationalHours]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     PROCEDURE [dbo].[CPP_NMD_GetPowerGenerationOperationalHours]
(
    @CPPPlantId UNIQUEIDENTIFIER,
    @FinancialYear VARCHAR(7)   -- example: '2025-26'
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT;
    DECLARE @EndYear INT;

    -- Extract years from '2025-26'
    SET @StartYear = CAST(LEFT(@FinancialYear, 4) AS INT);
    SET @EndYear   = @StartYear + 1;

    SELECT
        pga.AssetName,
		Max(pga.AssetId) as AssetId,
		Max(pga.AssetType) as AssetType,
		Max(oh.Remarks) as Remarks,

        ISNULL(SUM(CASE WHEN fym.Month = 4  AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS April,
        ISNULL(SUM(CASE WHEN fym.Month = 5  AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS May,
        ISNULL(SUM(CASE WHEN fym.Month = 6  AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS June,
        ISNULL(SUM(CASE WHEN fym.Month = 7  AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS July,
        ISNULL(SUM(CASE WHEN fym.Month = 8  AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS August,
        ISNULL(SUM(CASE WHEN fym.Month = 9  AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS September,
        ISNULL(SUM(CASE WHEN fym.Month = 10 AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS October,
        ISNULL(SUM(CASE WHEN fym.Month = 11 AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS November,
        ISNULL(SUM(CASE WHEN fym.Month = 12 AND fym.Year = @StartYear THEN oh.OperationalHours END), 0) AS December,

        ISNULL(SUM(CASE WHEN fym.Month = 1  AND fym.Year = @EndYear THEN oh.OperationalHours END), 0) AS January,
        ISNULL(SUM(CASE WHEN fym.Month = 2  AND fym.Year = @EndYear THEN oh.OperationalHours END), 0) AS February,
        ISNULL(SUM(CASE WHEN fym.Month = 3  AND fym.Year = @EndYear THEN oh.OperationalHours END), 0) AS March

    FROM PowerGenerationAssets pga
    LEFT JOIN OperationalHours oh
        ON oh.Asset_FK_Id = pga.AssetId
    LEFT JOIN FinancialYearMonth fym
        ON fym.Id = oh.FinancialMonthId
       AND (
                (fym.Year = @StartYear AND fym.Month BETWEEN 4 AND 12)
             OR (fym.Year = @EndYear   AND fym.Month BETWEEN 1 AND 3)
           )
    WHERE pga.CPPPLANT_FK_Id = @CPPPlantId
    GROUP BY pga.AssetName
    ORDER BY pga.AssetName;

END;
GO
/****** Object:  StoredProcedure [dbo].[CPP_NMD_GetProcessDemandByYear]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CPP_NMD_GetProcessDemandByYear]
    @FinancialYear VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Use calculated data ID if exists, otherwise generate new GUID
        ISNULL(c.id, NEWID()) AS id,
        @FinancialYear AS financial_year,
        m.process_plant,
        m.process_plant_id,
        m.cpp_utility,
        m.cpp_utility_id,
        m.cpp_plant,
        m.cpp_plant_id,
        m.uom,
        -- Return calculated values or 0 if not exists
        ISNULL(c.apr, 0) AS apr,
        ISNULL(c.may, 0) AS may,
        ISNULL(c.jun, 0) AS jun,
        ISNULL(c.jul, 0) AS jul,
        ISNULL(c.aug, 0) AS aug,
        ISNULL(c.sep, 0) AS sep,
        ISNULL(c.oct, 0) AS oct,
        ISNULL(c.nov, 0) AS nov,
        ISNULL(c.dec, 0) AS dec,
        ISNULL(c.jan, 0) AS jan,
        ISNULL(c.feb, 0) AS feb,
        ISNULL(c.mar, 0) AS mar,
        -- Flag to indicate if data is calculated or default
        CASE WHEN c.id IS NOT NULL THEN 1 ELSE 0 END AS is_calculated,
        c.remarks
    FROM dbo.ProcessDemandMaster m
    LEFT JOIN dbo.CalculatedProcessDemand c 
        ON m.process_plant_id = c.process_plant_id
        AND m.cpp_utility_id = c.cpp_utility_id
        AND ISNULL(m.cpp_plant_id, '') = ISNULL(c.cpp_plant_id, '')
        AND c.financial_year = @FinancialYear
    WHERE m.is_active = 1
    ORDER BY m.process_plant, m.cpp_utility;
END
GO
/****** Object:  StoredProcedure [dbo].[Get_TCS_PCGOutlook]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Get_TCS_PCGOutlook]
(
    @Site_FK_Id UNIQUEIDENTIFIER,
    @FinancialYear VARCHAR(7)   -- e.g. '2025-26'
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT;
    DECLARE @EndYear INT;

    -- Extract years from '2025-26'
    SET @StartYear = CAST(LEFT(@FinancialYear, 4) AS INT);
    SET @EndYear   = @StartYear + 1;

    ;WITH FY_Months AS (
        SELECT 
            fym.Id AS FinancialYearMonthId,
            fym.Month,
            fym.Year
        FROM FinancialYearMonth fym
        WHERE
            (fym.Year = @StartYear AND fym.Month BETWEEN 4 AND 12)
         OR (fym.Year = @EndYear   AND fym.Month BETWEEN 1 AND 3)
    )
    SELECT
        'GasifierAvailability' AS Product,
        MAX(CASE WHEN m.Month = 4  THEN t.GasifierAvailability END) AS Apr,
        MAX(CASE WHEN m.Month = 5  THEN t.GasifierAvailability END) AS May,
        MAX(CASE WHEN m.Month = 6  THEN t.GasifierAvailability END) AS Jun,
        MAX(CASE WHEN m.Month = 7  THEN t.GasifierAvailability END) AS Jul,
        MAX(CASE WHEN m.Month = 8  THEN t.GasifierAvailability END) AS Aug,
        MAX(CASE WHEN m.Month = 9  THEN t.GasifierAvailability END) AS Sep,
        MAX(CASE WHEN m.Month = 10 THEN t.GasifierAvailability END) AS Oct,
        MAX(CASE WHEN m.Month = 11 THEN t.GasifierAvailability END) AS Nov,
        MAX(CASE WHEN m.Month = 12 THEN t.GasifierAvailability END) AS [Dec],
        MAX(CASE WHEN m.Month = 1  THEN t.GasifierAvailability END) AS Jan,
        MAX(CASE WHEN m.Month = 2  THEN t.GasifierAvailability END) AS Feb,
        MAX(CASE WHEN m.Month = 3  THEN t.GasifierAvailability END) AS Mar,
		MAX(t.GasifierAvailability_Remarks) AS Remarks
    FROM TCS_PCGOutlook t
    JOIN FY_Months m
        ON t.FinancialYearMonthId = m.FinancialYearMonthId
    WHERE t.Site_FK_Id = @Site_FK_Id

    UNION ALL

    SELECT
        'SynGasProduction' AS Product,
        MAX(CASE WHEN m.Month = 4  THEN t.SynGasProduction END) AS Apr,
        MAX(CASE WHEN m.Month = 5  THEN t.SynGasProduction END) AS May,
        MAX(CASE WHEN m.Month = 6  THEN t.SynGasProduction END) AS Jun,
        MAX(CASE WHEN m.Month = 7  THEN t.SynGasProduction END) AS Jul,
        MAX(CASE WHEN m.Month = 8  THEN t.SynGasProduction END) AS Aug,
        MAX(CASE WHEN m.Month = 9  THEN t.SynGasProduction END) AS Sep,
        MAX(CASE WHEN m.Month = 10 THEN t.SynGasProduction END) AS Oct,
        MAX(CASE WHEN m.Month = 11 THEN t.SynGasProduction END) AS Nov,
        MAX(CASE WHEN m.Month = 12 THEN t.SynGasProduction END) AS [Dec],
        MAX(CASE WHEN m.Month = 1  THEN t.SynGasProduction END) AS Jan,
        MAX(CASE WHEN m.Month = 2  THEN t.SynGasProduction END) AS Feb,
        MAX(CASE WHEN m.Month = 3  THEN t.SynGasProduction END) AS Mar,
		MAX(t.SynGasProduction_Remarks) AS Remarks
    FROM TCS_PCGOutlook t
    JOIN FY_Months m
        ON t.FinancialYearMonthId = m.FinancialYearMonthId
    WHERE t.Site_FK_Id = @Site_FK_Id;

END
GO
/****** Object:  StoredProcedure [dbo].[GetFurnaceData]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetFurnaceData]
(
    @FinancialYear VARCHAR(9),       -- e.g. '2025-26'
    @Site_FK_Id UNIQUEIDENTIFIER,
    @Plant_FK_Id UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT = CAST(LEFT(@FinancialYear, 4) AS INT);
    DECLARE @EndYear   INT = @StartYear + 1;

    ;WITH FYMonths AS (
        SELECT 
		    
            f.Furnace,
            f.Value,
       --   f.GCalPerHr,
            f.Remarks,
            fym.Month,
            fym.Year,
            CONCAT(
                LEFT(DATENAME(MONTH, DATEFROMPARTS(fym.Year, fym.Month, 1)), 3),
                '-',
                RIGHT(CAST(fym.Year AS VARCHAR), 2)
            ) AS MonthLabel
        FROM Furnace f
        JOIN FinancialYearMonth fym
            ON f.FinancialYearMonthId = fym.Id
        WHERE
            f.Site_FK_Id  = @Site_FK_Id
            AND f.Plant_FK_Id = @Plant_FK_Id
            AND (
                    (fym.Year = @StartYear AND fym.Month BETWEEN 4 AND 12)
                 OR (fym.Year = @EndYear   AND fym.Month BETWEEN 1 AND 3)
                )
    )

    SELECT
	   
        Furnace,

        -- Monthly Values
        MAX(CASE WHEN MonthLabel = 'Apr-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Apr],
        MAX(CASE WHEN MonthLabel = 'May-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [May],
        MAX(CASE WHEN MonthLabel = 'Jun-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Jun],
        MAX(CASE WHEN MonthLabel = 'Jul-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Jul],
        MAX(CASE WHEN MonthLabel = 'Aug-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Aug],
        MAX(CASE WHEN MonthLabel = 'Sep-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Sep],
        MAX(CASE WHEN MonthLabel = 'Oct-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Oct],
        MAX(CASE WHEN MonthLabel = 'Nov-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Nov],
        MAX(CASE WHEN MonthLabel = 'Dec-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Dec],
        MAX(CASE WHEN MonthLabel = 'Jan-' + RIGHT(CAST(@EndYear AS VARCHAR),2)   THEN Value END) AS [Jan],
        MAX(CASE WHEN MonthLabel = 'Feb-' + RIGHT(CAST(@EndYear AS VARCHAR),2)   THEN Value END) AS [Feb],
        MAX(CASE WHEN MonthLabel = 'Mar-' + RIGHT(CAST(@EndYear AS VARCHAR),2)   THEN Value END) AS [Mar],

        -- Furnace-level remarks
        MAX(Remarks) AS Remarks

        -- Month-wise GCalPerHr (same across furnaces, safe to MAX)
     --   MAX(GCalPerHr) AS GCalPerHr

    FROM FYMonths
    GROUP BY Furnace
    ORDER BY Furnace;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetFurnaceData_OutPut]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create     PROCEDURE [dbo].[GetFurnaceData_OutPut]
(
    @FinancialYear VARCHAR(9),       -- e.g. '2025-26'
    @Site_FK_Id UNIQUEIDENTIFIER
    
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartYear INT = CAST(LEFT(@FinancialYear, 4) AS INT);
    DECLARE @EndYear   INT = @StartYear + 1;

    ;WITH FYMonths AS (
        SELECT 
		    
            f.Furnace,
            f.Value,
       --   f.GCalPerHr,
            f.Remarks,
            fym.Month,
            fym.Year,
            CONCAT(
                LEFT(DATENAME(MONTH, DATEFROMPARTS(fym.Year, fym.Month, 1)), 3),
                '-',
                RIGHT(CAST(fym.Year AS VARCHAR), 2)
            ) AS MonthLabel
        FROM Furnace f
        JOIN FinancialYearMonth fym
            ON f.FinancialYearMonthId = fym.Id
        WHERE
            f.Site_FK_Id  = @Site_FK_Id
            AND (
                    (fym.Year = @StartYear AND fym.Month BETWEEN 4 AND 12)
                 OR (fym.Year = @EndYear   AND fym.Month BETWEEN 1 AND 3)
                )
    )

    SELECT
	   
        Furnace,

        -- Monthly Values
        MAX(CASE WHEN MonthLabel = 'Apr-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Apr],
        MAX(CASE WHEN MonthLabel = 'May-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [May],
        MAX(CASE WHEN MonthLabel = 'Jun-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Jun],
        MAX(CASE WHEN MonthLabel = 'Jul-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Jul],
        MAX(CASE WHEN MonthLabel = 'Aug-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Aug],
        MAX(CASE WHEN MonthLabel = 'Sep-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Sep],
        MAX(CASE WHEN MonthLabel = 'Oct-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Oct],
        MAX(CASE WHEN MonthLabel = 'Nov-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Nov],
        MAX(CASE WHEN MonthLabel = 'Dec-' + RIGHT(CAST(@StartYear AS VARCHAR),2) THEN Value END) AS [Dec],
        MAX(CASE WHEN MonthLabel = 'Jan-' + RIGHT(CAST(@EndYear AS VARCHAR),2)   THEN Value END) AS [Jan],
        MAX(CASE WHEN MonthLabel = 'Feb-' + RIGHT(CAST(@EndYear AS VARCHAR),2)   THEN Value END) AS [Feb],
        MAX(CASE WHEN MonthLabel = 'Mar-' + RIGHT(CAST(@EndYear AS VARCHAR),2)   THEN Value END) AS [Mar],

        -- Furnace-level remarks
        MAX(Remarks) AS Remarks

        -- Month-wise GCalPerHr (same across furnaces, safe to MAX)
     --   MAX(GCalPerHr) AS GCalPerHr

    FROM FYMonths
    GROUP BY Furnace
    ORDER BY Furnace;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCPPUtilityNormPivoted]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetCPPUtilityNormPivoted]
(
    @CPPPlantId UNIQUEIDENTIFIER,
    @FinancialYear NVARCHAR(20)
)
AS
BEGIN
    SET NOCOUNT ON;

    /* =====================================================================
       STEP 1: Parse Financial Year (kept only for compatibility)
    ===================================================================== */
    DECLARE @CleanYear NVARCHAR(20) = ISNULL(@FinancialYear, '');
    SET @CleanYear = REPLACE(@CleanYear, ' ', '');
    SET @CleanYear = REPLACE(@CleanYear, '/', '-');

    IF @CleanYear = '' SET @CleanYear = '1900-01';

    IF @CleanYear NOT LIKE '%-%'
    BEGIN
        SET @CleanYear = CONCAT(@CleanYear, '-', RIGHT(CONCAT('0', CAST(CAST(RIGHT(@CleanYear,2) AS INT) + 1 AS VARCHAR(4))),2));
    END

    DECLARE @Part1 NVARCHAR(4), @Part2 NVARCHAR(4);
    SET @Part1 = LEFT(@CleanYear, CHARINDEX('-', @CleanYear) - 1);
    SET @Part2 = RIGHT(@CleanYear, LEN(@CleanYear) - CHARINDEX('-', @CleanYear));

    IF LEN(@Part1) = 2 SET @Part1 = CONCAT('20', @Part1);
    IF LEN(@Part2) = 2 SET @Part2 = CONCAT('20', @Part2);

    DECLARE @StartYear INT = TRY_CAST(@Part1 AS INT);
    DECLARE @EndYear   INT = TRY_CAST(@Part2 AS INT);

    IF @StartYear IS NULL SET @StartYear = 1900;
    IF @EndYear   IS NULL SET @EndYear = 1901;

    /* =====================================================================
       STEP 2: Get Generating Plants
    ===================================================================== */
    ;WITH GeneratingPlants AS
    (
        SELECT AssociatedPlant_FK_Id AS GeneratingPlantId
        FROM PowerGenerationPlantsMapping
        WHERE CPPPlantId = @CPPPlantId
    ),

    /* =====================================================================
       STEP 3: Fetch NormsHeader for these plants
    ===================================================================== */
    NormData AS
    (
        SELECT 
            nh.Id AS NormHeaderId,
            nh.Plant_FK_Id AS GeneratingPlantId,
            nh.UtilityName,
            nh.UtilityId,
            nh.UtilityUOM,
            nh.AccountName,
            nh.MaterialName,
            nh.IssuingPlantName,
            nh.IssuingPlant_FK_Id,
            nh.IssuingUOM,
            nh.NormParameter_FK_Id,
            nh.DisplayOrder
        FROM NormsHeader nh
        INNER JOIN GeneratingPlants gp 
            ON gp.GeneratingPlantId = nh.Plant_FK_Id
        WHERE nh.IsActive = 1
    ),

    /* =====================================================================
       STEP 4: Join NormParameters
    ===================================================================== */
    JoinedNorms AS
    (
        SELECT 
            nd.*,
            np.DisplayName AS NormParameterName,
            np.UOM AS ParameterUOM,
            np.SAPMaterialCode,
            np.DisplayOrder AS NormParameterDisplayOrder
        FROM NormData nd
        LEFT JOIN NormParameters np 
            ON nd.NormParameter_FK_Id = np.Id
    ),

    /* =====================================================================
       STEP 5: Add Plant Metadata
    ===================================================================== */
    FinalData AS
    (
        SELECT 
            jn.*,
            p.Name AS GeneratingPlantName,
            p.DisplayName AS GeneratingPlantDisplayName,
            p.PlantCode AS GeneratingPlantCode
        FROM JoinedNorms jn
        LEFT JOIN Plants p 
            ON jn.GeneratingPlantId = p.Id
    ),

    /* =====================================================================
       STEP 6: Month-wise details (NO FINANCIAL YEAR FILTER)
    ===================================================================== */
    MonthDetails AS
    (
        SELECT 
            nmd.NormsHeader_FK_Id,
            fym.Month,
            fym.Year,
            fym.Id AS FinancialYearMonthId,
            nmd.Norms,
            nmd.Quantity,
            nmd.Amount,
            nmd.Price,
            nmd.GenerationUOM,
            nmd.QTY
        FROM NormsMonthDetail nmd
        INNER JOIN FinancialYearMonth fym
            ON fym.Id = nmd.FinancialYearMonth_FK_Id
    )

    /* =====================================================================
       STEP 7: FINAL OUTPUT: monthly pivot JSON columns
    ===================================================================== */
    SELECT
        ROW_NUMBER() OVER (ORDER BY fd.GeneratingPlantName, fd.DisplayOrder, fd.NormParameterDisplayOrder) AS id,

        fd.GeneratingPlantName AS generatingPlantName,
        fd.UtilityName        AS utilityName,
        fd.UtilityId          AS utilityId,
        COALESCE(fd.ParameterUOM, fd.UtilityUOM) AS uom,
        fd.AccountName        AS accountName,
        fd.MaterialName       AS materialName,
        fd.IssuingPlantName   AS issuingPlantName,
        fd.IssuingUOM         AS issuingUom,

        /* MONTH JSON TEMPLATE */
        /* ------------------------------------------- */
        /* APR */
        ISNULL((
            SELECT 
                md.Norms  AS norms,
                md.Quantity AS quantity,
                md.Amount   AS amount,
                md.Price    AS price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY      AS QTY,
                md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 4
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS apr,

        /* MAY */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 5
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS may,

        /* JUN */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 6
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS jun,

        /* JUL */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 7
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS jul,

        /* AUG */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 8
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS aug,

        /* SEP */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 9
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS sep,

        /* OCT */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 10
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS oct,

        /* NOV */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 11
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS nov,

        /* DEC */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 12
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS [dec],

        /* JAN */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 1
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS jan,

        /* FEB */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 2
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS feb,

        /* MAR */
        ISNULL((
            SELECT 
                md.Norms, md.Quantity, md.Amount, md.Price,
                md.FinancialYearMonthId AS financialYearMonthId,
                md.QTY, md.GenerationUOM AS generationUom
            FROM MonthDetails md
            WHERE md.NormsHeader_FK_Id = fd.NormHeaderId AND md.Month = 3
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER, INCLUDE_NULL_VALUES
        ), '{"norms":null,"quantity":null,"amount":null,"price":null,"financialYearMonthId":null,"QTY":null,"generationUom":null}') AS mar

    FROM FinalData fd
    ORDER BY fd.GeneratingPlantName, fd.DisplayOrder, fd.NormParameterDisplayOrder;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlantProductionByCPP]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetPlantProductionByCPP]
        @CPPPlantId UNIQUEIDENTIFIER,
        @FinancialYear NVARCHAR(20)  -- e.g., '2025-26'
    AS
    BEGIN
        SET NOCOUNT ON;
        
        -- Get associated plants from ProcessConsumptionPlantMapping
        -- For plants where IsCalculated = 1, fetch production from AOP table
        -- Join on both Plant_FK_Id AND Material_FK_Id (NormParameter_FK_ID) to get correct product
        
        SELECT 
            pcpm.Id AS MappingId,
            pcpm.Plant_FK_Id AS PlantId,
            p.Name AS PlantName,
            p.PlantCode,
            pcpm.Product_Name,
            pcpm.NormParameter_FK_ID,
            pcpm.IsCalculated,
            -- AOP Production data (only for IsCalculated = 1)
            aop.Id AS AOPId,
            aop.AOPYear,
            aop.April,
            aop.May,
            aop.June,
            aop.July,
            aop.Aug,
            aop.Sep,
            aop.Oct,
            aop.Nov,
            aop.Dec,
            aop.Jan,
            aop.Feb,
            aop.March
        FROM ProcessConsumptionPlantMapping pcpm
        INNER JOIN Plants p ON p.Id = pcpm.Plant_FK_Id
        LEFT JOIN AOP aop ON aop.Plant_FK_Id = pcpm.Plant_FK_Id 
            AND aop.Material_FK_Id = pcpm.NormParameter_FK_ID  -- Match on product/material
            AND aop.AOPYear = @FinancialYear
            AND pcpm.IsCalculated = 1
        WHERE pcpm.Consumption_FK_Id = @CPPPlantId
        ORDER BY p.PlantCode, pcpm.Product_Name
    END
    
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProcessDemandByCPP]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_GetProcessDemandByCPP]
        @CPPPlantId UNIQUEIDENTIFIER,
        @FinancialYear NVARCHAR(20)  -- e.g., '2025-26'
    AS
    BEGIN
        SET NOCOUNT ON;
        
        -- For each plant associated with CPP where IsCalculated = 1:
        -- 1. Get production from AOP
        -- 2. Get utilities from NormParameters (NormType_FK_Id = 2)
        -- 3. Get norm factor from AOPConsumptionNorm
        -- 4. Calculate Process Demand = Production × Norm Factor
        
        SELECT 
            -- Plant Info
            pcpm.Id AS MappingId,
            pcpm.Plant_FK_Id AS PlantId,
            p.Name AS PlantName,
            p.PlantCode,
            pcpm.Product_Name,
            pcpm.IsCalculated,
            
            -- Utility Info
            np.Id AS UtilityId,
            np.Name AS UtilityName,
            np.SAPMaterialCode,
            np.UOM AS UtilityUOM,
            
            -- Production (from AOP)
            aop.April AS Prod_April,
            aop.May AS Prod_May,
            aop.June AS Prod_June,
            aop.July AS Prod_July,
            aop.Aug AS Prod_Aug,
            aop.Sep AS Prod_Sep,
            aop.Oct AS Prod_Oct,
            aop.Nov AS Prod_Nov,
            aop.Dec AS Prod_Dec,
            aop.Jan AS Prod_Jan,
            aop.Feb AS Prod_Feb,
            aop.March AS Prod_March,
            
            -- Norm Factor (from AOPConsumptionNorm)
            acn.April AS Norm_April,
            acn.May AS Norm_May,
            acn.June AS Norm_June,
            acn.July AS Norm_July,
            acn.Aug AS Norm_Aug,
            acn.Sep AS Norm_Sep,
            acn.Oct AS Norm_Oct,
            acn.Nov AS Norm_Nov,
            acn.Dec AS Norm_Dec,
            acn.Jan AS Norm_Jan,
            acn.Feb AS Norm_Feb,
            acn.March AS Norm_March,
            
            -- Process Demand = Production × Norm Factor
            ISNULL(aop.April, 0) * ISNULL(acn.April, 0) AS Demand_April,
            ISNULL(aop.May, 0) * ISNULL(acn.May, 0) AS Demand_May,
            ISNULL(aop.June, 0) * ISNULL(acn.June, 0) AS Demand_June,
            ISNULL(aop.July, 0) * ISNULL(acn.July, 0) AS Demand_July,
            ISNULL(aop.Aug, 0) * ISNULL(acn.Aug, 0) AS Demand_Aug,
            ISNULL(aop.Sep, 0) * ISNULL(acn.Sep, 0) AS Demand_Sep,
            ISNULL(aop.Oct, 0) * ISNULL(acn.Oct, 0) AS Demand_Oct,
            ISNULL(aop.Nov, 0) * ISNULL(acn.Nov, 0) AS Demand_Nov,
            ISNULL(aop.Dec, 0) * ISNULL(acn.Dec, 0) AS Demand_Dec,
            ISNULL(aop.Jan, 0) * ISNULL(acn.Jan, 0) AS Demand_Jan,
            ISNULL(aop.Feb, 0) * ISNULL(acn.Feb, 0) AS Demand_Feb,
            ISNULL(aop.March, 0) * ISNULL(acn.March, 0) AS Demand_March
            
        FROM ProcessConsumptionPlantMapping pcpm
        INNER JOIN Plants p ON p.Id = pcpm.Plant_FK_Id
        
        -- Get utilities for this plant (NormType_FK_Id = 2 = consumption utilities)
        INNER JOIN NormParameters np ON np.Plant_FK_Id = pcpm.Plant_FK_Id
            AND np.NormType_FK_Id = 2
            AND np.SAPMaterialCode IS NOT NULL
            AND np.Name NOT LIKE 'UtilityConsumption.%'
            AND np.Name NOT LIKE 'RawMaterial.%'
        
        -- Get production from AOP (only for IsCalculated = 1)
        LEFT JOIN AOP aop ON aop.Plant_FK_Id = pcpm.Plant_FK_Id 
            AND aop.Material_FK_Id = pcpm.NormParameter_FK_ID
            AND aop.AOPYear = @FinancialYear
            AND pcpm.IsCalculated = 1
        
        -- Get norm factor from AOPConsumptionNorm
        LEFT JOIN AOPConsumptionNorm acn ON acn.Plant_FK_Id = pcpm.Plant_FK_Id
            AND acn.Material_FK_Id = np.Id  -- Utility's NormParameter Id
            AND acn.AOPYear = @FinancialYear
        
        WHERE pcpm.Consumption_FK_Id = @CPPPlantId
          AND pcpm.IsCalculated = 1  -- Only calculated plants
        
        ORDER BY p.PlantCode, np.Name
    END
    
GO
/****** Object:  StoredProcedure [dbo].[test_usp_CalculatePlantRequirement]    Script Date: 1/18/2026 10:42:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[test_usp_CalculatePlantRequirement]
(
    @Vertical_FK_Id   UNIQUEIDENTIFIER,
    @Site_FK_Id       UNIQUEIDENTIFIER,
    @Plant_Id         UNIQUEIDENTIFIER,   -- Consumption Plant
    @AOPYear          VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ===============================
       0. Resolve Process Plants
       =============================== */
    WITH ProcessPlants AS
    (
        SELECT DISTINCT
            pcm.Plant_FK_Id AS ProcessPlant_FK_Id
        FROM PowerConsumptionPlantMapping pcm
        WHERE pcm.Consumption_FK_Id = @Plant_Id
          AND pcm.Sites_FK_Id = @Site_FK_Id
          AND pcm.Verticale_FK_Id = @Vertical_FK_Id
    ),

    /* ===============================
       1. Production Materials
       =============================== */
    ProductionMaterials AS
    (
        SELECT
            np.Id AS ProductionMaterial_FK_Id
        FROM NormParameters np
        WHERE np.Plant_FK_Id = @Plant_Id
          AND np.NormType_FK_Id = 1
    ),

    /* ===============================
       2. Production Quantities (MODIFIED)
       =============================== */
    ProductionData AS
    (
        SELECT
            pm.ProductionMaterial_FK_Id,

            a.Jan, a.Feb, a.March, a.April, a.May, a.June,
            a.July, a.Aug, a.Sep, a.Oct, a.Nov, a.Dec

        FROM ProductionMaterials pm
        INNER JOIN ProcessPlants pp
            ON 1 = 1
        INNER JOIN AOP a
            ON a.Material_FK_Id = pm.ProductionMaterial_FK_Id
           AND a.Plant_FK_Id    = pp.ProcessPlant_FK_Id
           AND a.Site_FK_Id     = @Site_FK_Id
           AND a.Vertical_FK_Id = @Vertical_FK_Id
           AND a.AOPYear        = @AOPYear
    ),

    /* ===============================
       3. Raw Materials
       =============================== */
    RawMaterials AS
    (
        SELECT
            np.Id AS RawMaterial_FK_Id
        FROM NormParameters np
        WHERE np.Plant_FK_Id = @Plant_Id
          AND np.NormType_FK_Id = 2
    ),

    /* ===============================
       4. Resolve Norms
       =============================== */
    ResolvedNorms AS
    (
        SELECT
            rm.RawMaterial_FK_Id,

            cn.Id AS AOPConsumptionNorm_FK_Id,
            cg.Id AS AOPConsumptionNormGrade_FK_Id,

            CASE 
                WHEN cn.Id IS NOT NULL THEN 0
                WHEN cg.Id IS NOT NULL THEN 1
                ELSE 0
            END AS IsGradeNormUsed,

            COALESCE(cn.Jan, cg.Jan) AS Jan,
            COALESCE(cn.Feb, cg.Feb) AS Feb,
            COALESCE(cn.March, cg.March) AS March,
            COALESCE(cn.April, cg.April) AS April,
            COALESCE(cn.May, cg.May) AS May,
            COALESCE(cn.June, cg.June) AS June,
            COALESCE(cn.July, cg.July) AS July,
            COALESCE(cn.Aug, cg.Aug) AS Aug,
            COALESCE(cn.Sep, cg.Sep) AS Sep,
            COALESCE(cn.Oct, cg.Oct) AS Oct,
            COALESCE(cn.Nov, cg.Nov) AS Nov,
            COALESCE(cn.Dec, cg.Dec) AS Dec

        FROM RawMaterials rm
        LEFT JOIN AoPConsumtionNorm cn
            ON cn.Material_FK_Id = rm.RawMaterial_FK_Id
           AND cn.Plant_FK_Id    = @Plant_Id
           AND cn.AOPYear        = @AOPYear

        LEFT JOIN AOPConsumtionNormGrade cg
            ON cg.Material_FK_Id = rm.RawMaterial_FK_Id
           AND cg.Plant_FK_Id    = @Plant_Id
           AND cg.AOPYear        = @AOPYear
           AND cn.Id IS NULL
    )

    /* ===============================
       5. Final Output
       =============================== */
    SELECT
        @Plant_Id AS Plant_FK_Id,
        pd.ProductionMaterial_FK_Id,
        rn.RawMaterial_FK_Id,
        rn.AOPConsumptionNorm_FK_Id,
        @AOPYear AS AOPYear,
        rn.IsGradeNormUsed,

        SUM(ISNULL(pd.Jan,0) * ISNULL(rn.Jan,0)) AS Jan,
        SUM(ISNULL(pd.Feb,0) * ISNULL(rn.Feb,0)) AS Feb,
        SUM(ISNULL(pd.March,0) * ISNULL(rn.March,0)) AS March,
        SUM(ISNULL(pd.April,0) * ISNULL(rn.April,0)) AS April,
        SUM(ISNULL(pd.May,0) * ISNULL(rn.May,0)) AS May,
        SUM(ISNULL(pd.June,0) * ISNULL(rn.June,0)) AS June,
        SUM(ISNULL(pd.July,0) * ISNULL(rn.July,0)) AS July,
        SUM(ISNULL(pd.Aug,0) * ISNULL(rn.Aug,0)) AS Aug,
        SUM(ISNULL(pd.Sep,0) * ISNULL(rn.Sep,0)) AS Sep,
        SUM(ISNULL(pd.Oct,0) * ISNULL(rn.Oct,0)) AS Oct,
        SUM(ISNULL(pd.Nov,0) * ISNULL(rn.Nov,0)) AS Nov,
        SUM(ISNULL(pd.Dec,0) * ISNULL(rn.Dec,0)) AS Dec

    FROM ProductionData pd
    CROSS JOIN ResolvedNorms rn

    GROUP BY
        pd.ProductionMaterial_FK_Id,
        rn.RawMaterial_FK_Id,
        rn.AOPConsumptionNorm_FK_Id,
        rn.IsGradeNormUsed;

END;
GO
