version: '3.7'
services:
    traefik:
        profiles:
            - servers
        image: traefik:v2.8
        command:
            - --log.level=debug
            - --api.insecure=true
            - --api.dashboard=true
            - --entrypoints.web.address=:80
            - --entrypoints.websecure.address=:443
            - --providers.docker=true
            - --experimental.hub=true
            - --providers.docker.exposedbydefault=false
            - --serversTransport.insecureSkipVerify=true
            - --providers.file.watch=true
            - --providers.file.directory=/traefik            
        ports:
            - 80:80
            - 443:443
            - 8888:8080
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./configs/traefik:/traefik:ro
            
    minio:
        image: quay.io/minio/minio
        command: server /data --console-address ":9090"
        ports:
            - 9000:9000
            - 9090:9090
        environment:
            - MINIO_ROOT_USER=minio
            - MINIO_ROOT_PASSWORD=#minio00#
        volumes:
            - minio:/data:rw

    mongodb:
        image: mongo
        ports:
            - 27017:27017
        healthcheck:
            test: mongosh --eval 'db.stats().ok' --quiet
            interval: 10s
            retries: 3
            start_period: 5s
            timeout: 10s
        volumes:
            - mongo:/data/db:rw

    opa:
        image: openpolicyagent/opa:edge-static
        ports:
            - 8181:8181        
        command:
            - run
            - --server
            - /etc/rules/wks_policy_rules.rego
        volumes:
            - ./policy-decision-api:/etc/rules:ro

    camunda:
        image: camunda/camunda-bpm-platform:run-7.19.0-SNAPSHOT
        command: ./camunda.sh --rest --webapps
        ports:
            - 8080:8080
        healthcheck:
            test: curl --fail http://localhost:8080/engine-rest/version || exit 1
            interval: 10s
            retries: 3
            start_period: 5s
            timeout: 10s
        depends_on:
            mongodb:
                condition: service_healthy

    keycloak:
        image: quay.io/keycloak/keycloak:20.0.3
        command: start-dev
        environment:
            KC_HEALTH_ENABLED: "true"
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
        healthcheck:
            test: curl --fail http://localhost:8080/health/ready || exit 1
            interval: 10s
            retries: 3
            start_period: 5s
            timeout: 10s
        ports:
            - 8082:8080
        volumes:
            - keycloak:/opt/keycloak/data/

    case-engine-rest-api:
        build:
            context: case-engine-rest-api
        ports:
            - 8081:8081
        links:
            - mongodb
            - camunda
        environment:
            - MONGO_DATABASE=wks
            - MONGO_CONN=mongodb://mongodb
            - KEYCLOAK_URL=http://keycloak:8080
            - OPA_URL=http://opa:8181/v1/data/wks/authz/allow
        depends_on:
            mongodb:
                condition: service_healthy
            camunda:
                condition: service_healthy

    bpm-engine-c7-external-service:
        build:
            context: bpm-engine-c7-external-service
        links:
            - mongodb
            - camunda
        environment:
            - CAMUNDA_URL=http://camunda:8080/engine-rest
            - CAMUNDA_USERNAME=demo
            - CAMUNDA_PASSWORD=demo
            - MONGO_DATABASE=wks
            - MONGO_CONN=mongodb://mongodb
        depends_on:
            mongodb:
                condition: service_healthy
            camunda:
                condition: service_healthy

    email-to-case:
        build:
            context: email-to-case
        ports:
            - 8083:8083
        links:
            - mongodb
            - camunda
        environment:
            - MONGO_DATABASE=wks
            - MONGO_CONN=mongodb://mongodb
            - EMAIL_CASE_PATTERN_NEW=new-case
            - EMAIL_CASE_PATTERN_UPDATE=update-case
            - KEYCLOAK_URL=http://keycloak:8080
            - OPA_URL=http://opa:8181/v1/data/wks/authz/allow
        depends_on:
            mongodb:
                condition: service_healthy
            camunda:
                condition: service_healthy

    case-portal:
        build:
            context: case-portal-react
            args:
                REACT_APP_KEYCLOAK_URL: http://localhost:8082
                REACT_APP_API_URL: http://localhost:8081
                REACT_APP_EMAIL_URL: http://localhost:8083
                REACT_APP_STORAGE_URL: http://localhost:8085
        ports:
            - 3001:3000

volumes:
    mongo:
        driver: local
    minio:
        driver: local
    keycloak:
        driver: local