version: '3.7'

services:
    case-portal:
        build:
            context: apps/react/case-portal
            args:
                GENERATE_SOURCEMAP: false
        environment:
            __SERVER_KEYCLOAK_URL__: ${REACT_APP_KEYCLOAK_URL}
            __SERVER_API_URL__: ${REACT_APP_API_URL}
            __SERVER_STORAGE_URL__: ${REACT_APP_STORAGE_URL}
            __SERVER_WEBSOCKETS_ENABLED__: ${REACT_APP_WEBSOCKETS_ENABLED}
            __SERVER_WEBSOCKETS_URL__: ${REACT_APP_WEBSOCKETS_URL} 
            __SERVER_WEBSOCKETS_CASE_CREATED__: ${REACT_APP_WEBSOCKETS_CASE_CREATED}
            __SERVER_WEBSOCKETS_HUMAN_TASK_CREATED__: ${REACT_APP_WEBSOCKETS_HUMAN_TASK_CREATED}
            __SERVER_NOVU_ENABLED__: ${REACT_APP_NOVU_ENABLED}
            __SERVER_NOVU_PUBLISHER_API_URL__: ${REACT_APP_NOVU_PUBLISHER_API_URL}
        ports:
            - 3001:80