legend {
  width: auto;
}

header {
  background-color: #3f93dc !important ; /* Example: Light gray background */
  /* background-color: #0f3cc9 !important ; Example: Light gray background */
}
/* .css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-h404g3-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: inherit !important;
  color: inherit !important;
} */

.css-h404g3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
  background-color: #3f93dc; /* Example: Light gray background */
  /* color: white; */
}
.css-5zfvd5-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #3f93dc; /* Example: Light gray background */
  color: white !important;
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #3f93dc; /* Example: Light gray background */
  /* color: white; */
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
  background-color: #3f93dc; /* Example: Light gray background */
  /* color: white; */
}

.css-hd56dl-MuiTypography-root {
  color: #ffffff; /* Example: Light gray background */
}
.css-h404g3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #3f93dc; /* Example: Light gray background */
  /* background-color: #0f3cc9; Example: Light gray background */
  color: white;
}
/* .css-h404g3-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #fff; 
  color: white;
} */

.css-h404g3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  border-radius: 0px;
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #fff; /* Example: Light gray background */
  color: white;
}

.css-s857sy-MuiInputBase-input-MuiOutlinedInput-input {
  color: #ffffff; /* Example: Light gray background */
}

.css-1imnto4-MuiPaper-root-MuiCard-root {
  display: none;
}

.css-vognfw {
  width: 80%;
  background-color: #f2f3f8;
}

.css-w06ito-MuiDataGrid-root
  .MuiDataGrid-columnHeader--alignRight
  .MuiDataGrid-columnHeaderDraggableContainer,
.css-w06ito-MuiDataGrid-root
  .MuiDataGrid-columnHeader--alignRight
  .MuiDataGrid-columnHeaderTitleContainer {
  -webkit-flex-direction: row;
  /* -ms-flex-direction: row-reverse; */
  flex-direction: row;
}
