legend {
  width: auto;
}

header {
  background-color: #0100cb !important ; /* Example: Light gray background */
  /* background-color: #0f3cc9 !important ; Example: Light gray background */
}
/* .css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root:hover,
.css-h404g3-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: inherit !important;
  color: inherit !important;
} */

.css-h404g3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
  background-color: #0100cb; /* Example: Light gray background */
  /* color: white; */
}
.css-5zfvd5-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #0100cb; /* Example: Light gray background */
  color: white !important;
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #0100cb; /* Example: Light gray background */
  color: white;
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
  background-color: #0100cb; /* Example: Light gray background */
  /* color: white; */
}
.css-qztmtg-MuiTypography-root:hover {
  color: white;
  background-color: #0100cb;
}

.css-hd56dl-MuiTypography-root {
  color: #ffffff; /* Example: Light gray background */
}
.MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: #0100cb; /* Example: Light gray background */
  /* background-color: #0f3cc9; Example: Light gray background */
  color: white;
}
/* .css-h404g3-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #fff; 
  color: white;
} */

.css-h404g3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  border-radius: 0px;
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #fff; /* Example: Light gray background */
  color: white;
}

.css-s857sy-MuiInputBase-input-MuiOutlinedInput-input {
  color: #ffffff; /* Example: Light gray background */
}

/* .css-1imnto4-MuiPaper-root-MuiCard-root {
  display: none;
} */

.css-vognfw {
  width: 80%;
  background-color: #f2f3f8;
}

.css-w06ito-MuiDataGrid-root
  .MuiDataGrid-columnHeader--alignRight
  .MuiDataGrid-columnHeaderDraggableContainer,
.css-w06ito-MuiDataGrid-root
  .MuiDataGrid-columnHeader--alignRight
  .MuiDataGrid-columnHeaderTitleContainer {
  -webkit-flex-direction: row;
  /* -ms-flex-direction: row-reverse; */
  flex-direction: row;
}

.css-1imnto4-MuiPaper-root-MuiCard-root {
  margin-bottom: 0px;
}

:root {
  --jio-border: #dae0ef;
  --jio-background: #ffffff;
  --jio-row-odd: #f9f9f9;
  --jio-row-even: #ffffff;
}

.custom-title-font {
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  white-space: nowrap;
  font-size: 1rem;
}

.custom-title-dropdown {
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  white-space: nowrap;
  color: white;
}
.custom-title-dropdown-content {
  font-family: 'Roboto', sans-serif !important;
  white-space: nowrap;
  color: white;
}

.role-name {
  /* font-weight: 800; */
  font-family: 'Roboto', sans-serif !important;
  color: black;
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.1);
  margin: 12px;
}

.grid-title {
  /* font-weight: 800; */
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  margin-left: 5px;
  /* margin-top: 25px; */
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.1);
}

.MuiSelect-icon {
  color: 'white';
}

/* .MuiDataGrid-scrollbar--vertical {
  overflow: hidden;
} */

/* footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
} */

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root:hover
  h6 {
  color: #fff;
}
.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root:hover
  svg {
  color: #fff;
}

.MuiButtonBase-root.MuiListItemButton-root:hover {
  background-color: #0100cb;
  color: #fff;
}

.even-row.MuiDataGrid-row.Mui-selected.MuiDataGrid-row--editable {
  background-color: transparent;
}

.red-cell {
  color: rgb(255, 166, 0) !important;
  font-weight: bold;
}

.red-background-cell {
  color: rgb(255, 0, 0) !important;
  font-weight: bold;
  background-color: #ffeaea !important;
}

main.MuiBox-root.css-vognfw {
  padding: 12px !important;
}
.MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgba(27, 160, 242, 0.08) !important;
}
.MuiButtonBase-root.MuiListItemButton-root:hover {
  background-color: #0100cb !important;
  color: #fff;
}

.k-grid th.active-column {
  background-color: #e0f7fa; /* light cyan */
  color: #00796b; /* teal text */
  font-weight: bold;
  border-bottom: 2px solid #790000;
}

.non-editable-cell {
  background-color: #f0f0f0;
}
