legend {
  width: auto;
}

header {
  background-color: rgba(127, 147, 206, 0.8) !important; /* Darker transparent light blue */
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgba(127, 147, 206, 0.8); /* 80% transparency */
  color: white;
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root.Mui-selected:hover {
  background-color: rgba(127, 147, 206, 0.9); /* Slightly darker on hover */
  color: white;
}

.css-hd56dl-MuiTypography-root {
  color: #ffffff;
}

.css-h404g3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: rgba(127, 147, 206, 0.8); /* Darker transparent light blue */
  color: white;
}


.css-h404g3-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  border-radius: 0px;
}

.css-1ynvhpv-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #fff; /* Example: Light gray background */
  color: white;
}

.css-s857sy-MuiInputBase-input-MuiOutlinedInput-input {
  color: #ffffff; /* Example: Light gray background */
}

