.btn-save {
  background-color: #0100cb;
  color: #ffffff;
  border-radius: 20px;
  padding: 6px 22px;
  text-transform: none;
  font-size: 0.875rem;
  font-weight: 500;
  min-width: 100px;
  border: none;
  cursor: pointer;
  margin-bottom: 2px;
}
.btn-save2 {
  border-radius: 20px;
  padding: 6px 22px;
  text-transform: none;
  font-size: 0.875rem;
  font-weight: 500;
  width: 7rem;
  cursor: pointer;
  /* height: 2rem; */
}

.btn-save:hover {
  background-color: #143b6f;
  box-shadow: none;
}

.btn-save:disabled {
  background-color: #8d8dec;
  color: #ffffff;
  opacity: 0.7;
  cursor: not-allowed;
}
.action-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap; /* optional: allows wrap on small screens */
}

.action-inner {
  display: flex;
  align-items: center;
  gap: 16px;
}

.unit-chip {
  border-radius: 4px;
  padding: 8px 24px;
  text-transform: none;
  font-size: 0.875rem;
  font-weight: 500;
  height: 40px;
}
